body {
	font: 16px/30px;
	font-family: 'Work Sans';
	color: #949697;
	background: #fff;
	-webkit-text-size-adjust: none;
	min-width: 320px;
}

#header{
	border-bottom: 3px solid #dcdcdc;
}

#header .nav{
	float: right;
}
#header .nav-item{
	text-transform: uppercase;
}
#header .nav-item a{
	color:#737375;
}

.dropdown-menu {
	margin-top: 0;
}
a .notification {
	margin: -30px 15px 0;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 10px;
	color: white;
	border-radius: 50%;
	background-color:rgb(19, 230, 194);
}

#searchModal .modal-header {
	background-color:turquoise;
	color:gray; 
	text-transform:capitalize;	
}

#loginModal .modal-header {
	background-color:turquoise;
}
#createAccountModal .modal-header {
	background-color:turquoise;
}

/* Navigation-------------------------------------*/

#menu a {
	font-weight: 800;
	color: #737375;
}
#menu .nav-item {
	padding: 19px 19px 21px;
	text-transform: uppercase;
}
#menu .dropdown-item{
	font-weight: 100;
	margin-bottom: 0.5rem;
}
/*#navbarNav {
	position: relative;
	left: 22%;
}*/


/*Carousel----------------------------------------*/
.prev-button {
	color:gray;
}
.next-button{
	color: gray;
}

.carousel-caption {
	color: black;	
}
.carousel-indicators li{
	background-color:black;
}
/*Body----------------------------------------------*/
.bannerrow{
margin-top: 3rem;
}

@media (min-width: 768px) {
	.carousel-multi-item-2 .col-md-3 {
	float: left;
	width: 25%;
	max-width: 100%; } }
	
	.carousel-multi-item-2 .card img {
	border-radius: 2px; }

.featurette-divider{
	margin: 5rem 0;
}

/*--Footer------------------------------------------*/
.page-footer {
	margin-top: 5rem;
	border-top: 2px solid #e8e8e8;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center !important;
	
}
.page-footer a{
	color:turquoise;
}
p.rights {
	text-align: center !important;
    font-size: 14px;
	color: rgba(136, 136, 136, 0.8);
}
p.rights a {
	display: inline;
    color: inherit;
}
.page-footer li{
	list-style: none;
}
html .elements-group-20 > *, html .elements-group-20 > *:first-child {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
 /*---------- Product List page css --------*/
 .jumbotron {
	margin: 0;
	padding: 30px;
	background-image: linear-gradient(to right, #a7f0f0, #7fd3d6, #59d9f0);
	color:black;	
}
.padding-y {
	padding-top: 40px;
	padding-bottom: 40px;
}
.card-header{
	background-color: white;
}
.card-header .title {
	margin-bottom: 0;
	line-height: 1.5;
}
.sidebarTitle{
	color: black;
}
a:hover{
	text-decoration: none;

}
  
  .filter-group {
	border-bottom: 1px solid #e4e4e4; }
	.filter-group .card-header {
	  border-bottom: 0; }
	.icon-control {
		margin-top: 5px;
		float: right;
		font-size: 80%;
	}

	.list-menu {
		list-style: none;
		margin: 0;
		padding-left: 0; }
		.list-menu li {
		  margin-bottom: 5px; }
		.list-menu a {
		  color: #343a40; }

		  .card-product-grid {
			margin-bottom: 20px; }
			.card-product-grid .img-wrap {
			  border-radius: 0.2rem 0.2rem 0 0;
			   }
			.card-product-grid .info-wrap {
			  overflow: hidden;
			  padding: 18px 20px; }
			  .card-product-grid .fix-height {
				height: 80px;
				overflow: hidden; }

.price-wrap .price{
	font-weight: 600;
	color: #212529; }
  
.price-wrap .price-old {
	color: #969696;
	margin-left: 3px;
	font-size: 85%; }

/*--- Image change on hover effect----*/
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.5s ease;
		
	  }
	  
	  .img-wrap:hover .overlay {
		opacity: 1;
	  }
/*---------------*/	  

	  