body {
	font: 16px/30px;
	font-family: 'Work Sans';
	color: #949697;
	background: #fff;
	-webkit-text-size-adjust: none;
	min-width: 320px;
}

#header{
	border-bottom: 3px solid #dcdcdc;
}

#header .nav{
	float: right;
}
#header .nav-item{
	text-transform: uppercase;
}
#header .nav-item a{
	color:#737375;
}

.dropdown-menu {
	margin-top: 0;
}
a .notification {
	margin: -30px 15px 0;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	font-size: 10px;
	color: white;
	border-radius: 50%;
	background-color:rgb(19, 230, 194);
}
/* Navigation-------------------------------------*/

#menu .navbar-collapse{
	margin-left: 10em;
}
#menu a {
	font-weight: 800;
	color: #737375;
}
#menu li {
	padding: 19px 19px 21px;
}


/*Carousel----------------------------------------*/
.prev-button {
	color:gray;
}
.next-button{
	color: gray;
}

.carousel-caption {
	color: black;	
}
.carousel-indicators li{
	background-color:black;
}
/*Body----------------------------------------------*/
.bannerrow{
margin-top: 3rem;
}

@media (min-width: 768px) {
	.carousel-multi-item-2 .col-md-3 {
	float: left;
	width: 25%;
	max-width: 100%; } }
	
	.carousel-multi-item-2 .card img {
	border-radius: 2px; }

.featurette-divider{
	margin: 5rem 0;
}

/*--Footer------------------------------------------*/
.page-footer {
	margin-top: 5rem;
	border-top: 2px solid #e8e8e8;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center !important;
	
}
.page-footer a{
	color:turquoise;
}
p.rights {
	text-align: center !important;
    font-size: 14px;
	color: rgba(136, 136, 136, 0.8);
}
p.rights a {
	display: inline;
    color: inherit;
}
.page-footer li{
	list-style: none;
}
html .elements-group-20 > *, html .elements-group-20 > *:first-child {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
  
