body {
	font: 16px/30px;
	font-family: 'Work Sans';
	color: #949697;
	background: #fff;
	-webkit-text-size-adjust: none;
	min-width: 320px;
}

.container {
	position: relative;
	width: 1170px;
	margin: 0 auto;
}
/* Header
------------------------------------------------------------------------------*/

#header .container {
	height: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #dcdcdc;
}

#header .right-links {	
	padding: 25px 0 0;
	font-family: 'Work Sans';	
}


#header .right-links a {
	font-family: 'Work Sans';	
	color: #656567;
	text-decoration: none;
}
.nav{
	float: right;
}

a .notification {
	margin: -30px 15px 0;
		width: 18px;
		height: 18px;
		text-align: center;
		line-height: 18px;
		font-size: 10px;
		color: white;
		border-radius: 50%;
		background-color:rgb(19, 230, 194);
	}

	.dropdown-menu {
		margin-top: 0;
	  }

/* Navigation
------------------------------------------------------------------------------*/

#menu {
	text-align: center;
	color: #737375;
	font-size: 16px;
	font-weight: 800;
}
#menu ul {
	margin-bottom: 0.5rem;
}
#menu li {
	padding: 19px 19px 21px;
	display: inline-block;
	font-family: 'Work Sans';}

#menu a {
	color: #737375;
}
#menu .container{
	padding-left: 15rem;
}

.prev-button {
	color:gray;
  }
  .next-button{
	color: gray;
  }

  .carousel-caption {
	color: black;	
  }
  .carousel-indicators li{
	background-color:black;
  }
  
